@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
  margin: 0 auto;
  background-color:white;
  text-align: center;
  font-size:1.6em;
}

#main{
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  height: 100%;
}

img.name{
width:720px;
height:40px;
line-height: 40px;
background-color:gray;
color:white;
vertical-align: bottom;
}

#top {
  width: 720px;
  height: 40px;
  color: white;
  text-align: center; 
  display: table-cell;
  vertical-align: middle;

}

#dd{
  padding-top: 20px;
  font-size: 18px;
}

#view1{
  width: 720px;
  height: 160px;
  display: grid;
  grid-template-columns: 220px 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4f4f4f;
  color: white;
}

img {
  max-width:100%;
  max-height:100%;
}

#image {
  width: 160px;
  height: 160px;
  position: relative;
  left: 90px;
  margin: 0;
}

#view2{
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 60px 50px 70px;
}


#movietitle{
  position: relative;
  padding-top: 25px;
  display: inline;
  font-size: 20px;
  left: 5px;
}

#grade{
  height: 20px;
  width: 20px;
  padding-left: 5px;
}


#date{
  padding-top: 20px;
  padding-right: 65px;
  font-size: 18px;
}

#time{
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 18px;
}

#personnel {
  padding-right: 91px;
  padding-top: 5px;
  font-size: 18px;
}

#selectedSeat{
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 18px;
}

.costbox {
  width: 720px;
  height: 50px;
  color: white;
  background-color: #727272;
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  text-align: right;
}
#price{
display:block;
padding-right: 100px;
}
.cardBox{
  width:720px;
  height:470px;
  background-color: #4f4f4f;
}
.write{
  color: white;
  font-size: 0.8em;
  padding-top:70px;
}

img.btn{
  width:180px;
  height:220px;
  padding:0;
  margin:10px;
  margin-top:70px;
  display:inline-block;
  cursor: pointer;
}
.leftbtn{
  margin-left:90px;
}
.rightbtn{
  margin-right:90px;
}

.beforeafter{
  width:720px;
  height:50px;
  line-height:50px;
  background-color: #727272;
  color: white;
}

.before{
  width: 90px;
  height: 30px;
  color: white;
  background-color: #979797;
  position: relative;
  font-size: 19px;
  text-align: center;
  border: none;
  cursor: pointer;
  line-height:30px;
  right: 315px;
  bottom: 3px;
}
