body {
  font-family: 'Noto Sans KR';
  color: #4f4f4f;
}

#LSY_mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #000000;
    display: none; }

.LSY_btn{
  border: 2px solid black;
  width: 450px;
  height: 160px;
  border-color: #8fc43b;
  background: #ffffff;
  cursor: pointer;
  color: #4f4f4f;
  font-family: 'Noto Sans KR';
}

.LSY_btn_2{
  border: 2px solid black;
  width: 110px;
  height: 150px;
  border-color: #8fc43b;
  background: #ffffff;
  color: #4f4f4f;
  cursor: pointer;
  font-family: 'Noto Sans KR';
}

.LSY_btn_none{
  border: none;
  width: 110px;
  height: 150px;
  background: #ffffff;
  color: #ffffff;
  font-family: 'Noto Sans KR';
}


.LSY_btn-page{
  font-family: 'Noto Sans KR';
  border: none;
  background: #8fc43b;
  cursor: pointer;
  color: #ffffff;
}

.LSY_unactive_page{
  font-family: 'Noto Sans KR';
  border: none;
  background: #C5E1A5;
  cursor: pointer;
  color: #ffffff;
}

.LSY_img_pos{
  float:left;
}

.LSY_layerpop {
    display: none;
    z-index: 1000;
    border: none;
    background: #fff;}

.LSY_layerpop_area .LSY_layerpop_close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #8fc43b;
    border: none;
    font-size: 130%;
    cursor: pointer;
    color: #ffffff;}

.LSY_layerpop_area .LSY_content {
    width: 96%;
    margin: 2%;
    color: #828282; }
